@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AJAX Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

             $('.new-post').submit(function (event) {
                event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("NewPost")',
                        type: 'POST',
                        dataType: 'json',
                        data: $(this).serialize(),
                        success: function (result) {
                            var resultMessage = 'You\'ve added a new post to the database!<br>Title: ' + result.title + '<br>Content: ' + result.content;
                            $('#create-post').html(resultMessage);
                        }
                    });
                });

             $('.display-posts').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("ShowAllPosts")',
                    type: 'GET',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (result) {
                        var stringResult = '<ul>';
                        for (var i = 0; i < result.length; i++) 
                        {
                            stringResult += '<li> id: ' + result[i].postId + ' <strong>' + result[i].title + '</strong> : ' + result[i].content + '<a href = "Posts/Edit/'+ result[i].postId +'">Edit</a></li>';
                        } 
                        stringResult += '</ul>';
                        $('#show-all-posts').html(stringResult);
                    }
                });
            });

            @*$('.display-edit-form').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("Edit/")',
                    type: 'GET',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (result) {
                        $('#result4').html(stringResult);
                    }
                });
           });*@

            $('.delete-post').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("DeletePost")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (result) {
                        var resultMessage = 'The post with id ' + result.postId + ' has been deleted';
                        $('#confirm-delete').html(resultMessage);
                    }
                });
            });

            $('.display-comments').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("ShowAllComments")',
                    type: 'GET',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (result) {
                        var stringResult = '<ul>';
                        for (var i = 0; i < result.length; i++) 
                        {
                            stringResult += '<li> post id: ' + result[i].postId + ' <strong>comment id: ' + result[i].commentId + '</strong> ' + result[i].body + ' </li>';
                        } 
                        stringResult += '</ul>';
                        $('#show-all-comments').html(stringResult);
                    }
                });
            });

        });
    </script>
</head>
<body>

    <h3>Create a new post.</h3>
    <form action="NewPost" class="new-post">
        <label for="newTitle">Title: </label>
        <input type="text" name="newTitle" />
        <label for="newContent">Content: </label>
        <input type="text" name="newContent" />
        <button type="submit">Submit</button>
    </form>
    <div id="create-post"></div>

    <form action="AllPostsList" class="display-posts">
        <button type="submit">Show All Posts</button>
    </form>
    <div id="show-all-posts"></div>

    <h2>Delete a Post</h2>
    <form action="Delete" class="delete-post">
        <label for="postId">Enter the Id of the post to delete: </label>
        <input type="number" name="postID" />
        <button type="submit">Delete post</button>
    </form>
    <div id="confirm-delete"></div>

    <form action="AllCommentsList" class="display-comments">
        <button type="submit">Show All Comments</button>
    </form>
    <div id="show-all-comments"></div>



</body>
</html>
