@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model SaraHamilton.Models.Post


<h4>Edit this Post : @Html.DisplayFor(model => model.Title)</h4>

@using (@Html.BeginForm())
{
    @Html.HiddenFor(model => model.PostId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Content)
    @Html.TextBoxFor(model => model.Content, new { style = "width:500px;" })

    <input type="submit" value="Save" class="btn btn-default" />
}