@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<SaraHamilton.Models.Post>

<h2>Posts</h2>
<hr />

@if (Model.Any())
{
    @foreach (var listPost in Model)
    {
    <div class="well">
        <h3>@Html.DisplayFor(modelPost => listPost.Title)</h3>
        <p>@Html.DisplayFor(modelPost => listPost.Content)</p>

        @if (@listPost.Comments == null)
        {
            <p>No Comments yet.</p>
            <p><a href="~/Comments/Create/@listPost.PostId">Add a Comment</a></p>
        }
        else
        {
            <p>@listPost.Comments.Count() Comment(s)</p>
            <p><a href="~/Comments/Create/@listPost.PostId">Add a Comment</a></p>
            @if (listPost.Comments.Count != 0)
            {
                <p><a href="~/Posts/Details/@listPost.PostId">View Comments</a></p>
            }
        }
    </div>
    }
}
else
{
    <p>No posts have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")
