@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<SaraHamilton.Models.Post>

<h2>Posts</h2>
<hr />

@if (Model.Any())
{
    @*<ul>*@
    @foreach (var listPost in Model)
    {
        <h3>@Html.DisplayFor(modelPost => listPost.Title)</h3>
        <p>@Html.DisplayFor(modelPost => listPost.Content)</p>

        @if (@listPost.Comments == null)
        {
            <p>No Comments yet.</p>
        }
        else
        {
            <p>@listPost.Comments.Count() Comments</p>}
    }
    @*</ul>*@

}
else
{
    <p>No posts have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")
